.gym_pass{
	  background-color: rgb(22, 22, 22);
	  min-height: 349px;


	.gym_heading{
		margin: 0 auto;
		width: 100%;
	  font-size: 24px;
	  font-weight: 900;
	  color:#fff;
	  line-height: 1.2;
	  text-shadow: 0px 3px 7.84px rgba(0, 0, 0, 0.31);
	  z-index: 244;
	  padding-top: 48px;
		padding-bottom: 40px;
		text-align: center;
				}
	#gym_pass_holder{
	    display: flex;
		justify-content: space-around;
	     flex-wrap: wrap;
		width: 90%;
		margin: 0 auto;
		height: auto;

		
		.gym_pass_sub{
		position: relative;
		display: flex;
		justify-content: center;
		 margin: 0 auto;
		margin-bottom: 30px;
		 width: 253px;
		 height: 161px;
		 border-width: 2px;
		  border-color: rgb(255, 255, 255);
		  border-style: solid;
		  box-shadow: 0px 5px 26.56px 5.44px rgba(0, 0, 0, 0.26);
				p{
					width:253px;
					height: 30px;
				  font-size: 24px;
				  font-family: "Roboto";
				  color: rgb(231, 231, 231);
				  text-shadow: 0px 3px 7.84px rgba(0, 0, 0, 0.31);
				   text-align: center;
					margin-top: 56px;

				}
													.btn {
														position: absolute;
														bottom: 20px;
														width: 51px;
														height: 38px;
														border: none;
												  -webkit-border-radius: 3;
												  -moz-border-radius: 3;
												  border-radius: 3px;
												  font-family: Arial;
												  color: #ffffff;
												  font-size: 14px;
												  background: #ec6811;
												  padding: 12px 8px 12px 8px;
												  text-decoration: none;
															}

												   .btn:hover {
												  background: #eb7e3b;
												  text-decoration: none;

															}
												  }
		
					}

		}
.NATIONAL_PASS {
  font-size: 24px;
  font-family: "Roboto";
  color: rgb(231, 231, 231);
  line-height: 1.2;
  text-shadow: 0px 3px 7.84px rgba(0, 0, 0, 0.31);
  position: absolute;
  left: 142.297px;
  top: 1063.6px;
  z-index: 34;
}


