@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900');
*{
	margin: 0px;
	padding: 0px;	
	font-family: 'Roboto', sans-serif;
	box-sizing: padding-box;
	list-style: none;
text-decoration: none;
	a{
		color:#000;
	}

}
body{
	background-color: #f1ebeb;
}

